<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Course_Work_aplication.Properties.Settings.Coursework_Add_DataBaseConnectionString"
            connectionString="Data Source=LOCALHOST;Initial Catalog=Coursework_Add_DataBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>